body {
    background-color: var(--color-green-dark);
}

.cursor {
    position: absolute;
    width: clamp(0.6em, 0.8vw, 1em);
    height: clamp(0.6em, 0.8vw, 1em);
    background-color: var(--color-red-primary);
    border-radius: 99em;
    z-index: 9999999;
    pointer-events: none;
    transition: transform 50ms ease;
}

header {
    padding: clamp(0.8em, 2vh, 1.6em) clamp(1.8em, 4vw, 2.8em);
    background-color: var(--color-green-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    inset: 0 0 auto 0;
    border-bottom: solid 0.005em var(--color-dark-lighter);
    z-index: 9;
    transition: background-color 300ms ease-in-out;
    
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3em;
        font-family: var(--Roboto);
        
        & a {
            text-decoration: none;
            color: var(--color-white);
            font-weight: 500;
            font-size: clamp(0.8rem, 1.3vw, 1rem); 
            position: relative;

            &::after {
                content: "";
                position: absolute;
                border-radius: 999em;
                bottom: -0.3em;
                right: 0;
                height: 0.05em;
                width: 0;
                background-color: var(--color-red-primary);
                transition: 300ms ease-in-out;
                transition-property: width;
            }
            
            &:hover::after {
                left: 0;
                width: 100%;
            }
        }
    }
}

.logo {
    color: var(--color-white);
    font-family: var(--Roboto);
    text-decoration: none;
    font-size: clamp(1.3rem, 1.6vw, 1.7rem);
    font-weight: 600;
    line-height: 100%;
    transition: 300ms ease-in-out;
    transition-property: opacity;

    &:hover {
        opacity: 0.7;
    }
    
    & span {
        font-weight: 300;
    }
}

.playfair_display_font {
    font-family: var(--Playfair-Display);
    font-style: italic;
}

main {
    background-color: var(--color-green-dark);
    height: max-content;
    
}

.top_heading {
    padding: clamp(11em, 20vh, 15em) clamp(0.8em, 11vw, 9em);
    font-family: var(--Roboto);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    gap: 3em;
    margin-inline: auto;
    width: min(100vw, 110em);
    
    & h1 {
        color: var(--color-white);
        font-size: clamp(2.5rem, 5vw, 4.5rem);
        font-weight: 500;
        line-height: 100%;
        z-index: 2;
    }
    
    & p {
        color: var(--color-white-light);
        line-height: 100%;
        font-weight: 400;
        font-size: clamp(1.1rem, 1.5vw, 1.5rem);
        z-index: 2;
    }
}

.get_to_know_us {
    & button {
        z-index: 2;
        background-color: var(--color-black-light);
        color: var(--color-white-light);
    }

    .arrow_box {
        background-color: var(--color-red-primary);
        
        .arrow_svg {
            fill: var(--color-white);
        }
    }
}

.hover_arrow_button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    border-radius: 999em;
    height: 3.5em;
    transform-origin: left;
    
    &:hover .arrow_svg {
        transform: rotate(-90deg);
        fill: var(--color-white);
    }
    
    &:hover .arrow_box {
        border-radius: 0 50% 50% 0;
        background-color: var(--color-red-primary);
    }
    
    &:hover button {
        border-radius: 999em 0 0 999em;
    }
    
    
    & button {
        padding: 1.2em 2.2em;
        border-radius: 999em;
        border: 0;
        outline: 0;
        font-size: 0.95rem;
        font-weight: 500;
        font-family: var(--Roboto);
        cursor: pointer;
        height: inherit;
        transition: border-radius 300ms ease-in-out;
    }
}

.arrow_box {
    width: 3.5em;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 300ms ease-in-out;
    transition-property: border-radius, background-color;
    
    .arrow_svg {
        width: 1.3em;
        height: 1.3em;
        transform: rotate(-45deg);
        transition: 300ms ease-in-out;
        transition-property: transform, fill;
    }
}

.home_image {
    position: relative;
    width: min(90vw, 110em);
    height: clamp(6em, 40vw, 50em);
    margin-inline: auto;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
    animation: home_parallax linear;
    animation-timeline: scroll();

    .scroll_down_indicator {
        user-select: none;
        border-radius: 999em;
        position: absolute;
        margin: 0;
        right: clamp(1em, 2vw, 2em);
        top: clamp(1em, 2vw, 2em);
        display: flex;
        gap: 1em;
        align-items: center;
        font-family: var(--Roboto);
        font-size: clamp(0.7rem, 1.1vw, 1rem);;
        font-weight: 400;
        color: var(--color-white);
        cursor: pointer;

        &:hover .arrow_box{
            background-color: var(--color-red-primary);
        }

        &:hover .arrow_svg{
            transform: rotate(0);
            fill: var(--color-white);
        }

        .arrow_box {
            background-color: var(--color-white);
            height: 2.2em;
            width: 2.2em;
            transition: 300ms ease-in-out;
            transition-property: background-color;
        }

        .arrow_svg {
            fill: var(--color-black);
            width: 1.1em;
            transition: 300ms ease-in-out;
            transition-property: fill, transform;
        }
    }
}

@keyframes home_parallax {
    40% {
        background-position-y: bottom;
    }
}

.characteristics {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    width: min(80vw, 110em);
    margin-inline: auto;
    gap: 3em;
    padding-block: clamp(0.8em, 8vw, 8em);
    
    .character_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        gap: 0.8em;
        width: 33.3%;
        
        .character_icon {
            fill: var(--color-white-light);
            width: clamp(1.2em, 2.5vw, 2em);
            margin-bottom: 1em;
            padding: 0;
            opacity: 0.6;
        }
        
        & h3 {
            font-family: var(--Playfair-Display);
            font-style: italic;
            font-weight: 600;
            color: var(--color-white);
            font-size: clamp(1.3rem, 3vw, 1.8rem);
            line-height: 120%;
        }
        
        & p {
            font-family: var(--Roboto);
            font-size: clamp(1rem, 1vw, 1.5rem);
            font-weight: 400;
            color: var(--color-white-light);
            opacity: 0.8;
            line-height: 150%;
        }
    }
}

.works_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    
    .works {
        display: flex;
        padding: clamp(5em, 20vh, 15em) clamp(3em, 10vw, 15em);
        align-items: center;
        justify-content: space-between;
        gap: 3em;;
        max-width: 110em;
        
        &:first-child {
            border-bottom: solid 0.005em var(--color-dark-lighter);
        }
        
        .work_title {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: space-between;
            gap: 1em;
            font-family: var(--Roboto);
            width: 60%;
            
            & h1 {
                color: var(--color-black);
                font-weight: 400;
                font-size: clamp(1.2rem, 2.7vw, 2.5rem);
                line-height: 120%;
            }
            
            & p {
                
                color: var(--color-black-light);
                line-height: 150%;
                opacity: 0.8;
                font-weight: 400;
                font-size: clamp(0.7rem, 1.8vw, 1.1rem);
            }
            
            .work_button {
                margin-top: 2em;
                
                &:hover .arrow_box{
                    background-color: var(--color-red-primary);
                }
                
                & button {
                    background-color: var(--color-dark-lighter);
                    color: var(--color-black-light);
                    font-weight: 500;
                }

                .arrow_box {
                    background-color: var(--color-black);

                    .arrow_svg {
                        fill: var(--color-white);
                    }
                }
            }
        }
    }
    
    .project_svg {
        width: clamp(15em, 55vw, 70em);
        margin: 0;
        padding: 0;
    }
}

.overview_section {
    max-width: 110em;
    margin-inline: auto;
    font-family: var(--Roboto);
    padding: clamp(5em, 12vh, 13em) clamp(3em, 10vw, 15em);
    
    & h1 {
        color: var(--color-white);
        font-family: var(--Playfair-Display);
        font-style: italic;
        font-size: clamp(1.2rem, 3vw, 2.5rem);
        font-weight: 600;
        line-height: 100%;
        position: relative;
        margin-bottom: clamp(2em, 7vh, 6em);
    }
    
    .epertises_columns {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        gap: clamp(5em, 10vw, 20em);
        
        .column {
            flex: 1;
            gap: 1em;
            display: flex;
            flex-direction: column;
            align-content: baseline;
            justify-content: space-between;
            
            & h2 {
                padding-bottom: clamp(1.3em, 2vh, 1.8em);
                color: var(--color-white);
                font-weight: 400;
                font-size: clamp(1rem, 2.2vw, 2.2rem);
                border-bottom: solid 0.005em var(--color-dark-lighter);
            }

            & a {
                text-decoration: none;
                color: var(--color-white);
                font-weight: 400;
                font-size: clamp(0.7rem, 1.5vw, 1rem);
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                & p {
                    opacity: 0.5;
                    transition: 300ms ease-in-out;
                    transition-property: opacity;  
                }

                &:hover p {
                    opacity: 1;
                }

                &:hover .arrow_box{
                    background-color: var(--color-red-primary);
                    border: solid var(--color-red-primary) 0.005em;
                }

                &:hover .arrow_svg {
                    transform: rotate(-90deg);
                }
                
                .arrow_svg {
                    fill: var(--color-white);
                    width: 1em;
                }

                .arrow_box {
                    border: solid var(--color-dark-lighter) 0.005em;
                    height: 2em;
                    width: 2em;
                    transition: 300ms ease-in-out;
                    transition-property: border-radius, background-color, border;                    
                }
            }
        }
    }
}

.about_us {
    height: clamp(6em, 50vw, 90em);
    margin-inline: auto;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.9);
    background-position-y: top;
    animation: about_us_parallax linear;
    animation-timeline: scroll();
    position: relative;

    .about_us_title {
        background-color: var(--color-black-light);
        position: absolute;
        width: min(30vw, 50em);
        height: max-content;
        padding: clamp(1.5em, 7vh, 5em);
        font-family: var(--Roboto);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 1em;
        gap: 1em;
        inset: 50% 10% 50% auto;
        transform: translateY(-50%);
       
        .people_svg {
            fill: var(--color-white);
            width: 2em;
            margin-bottom: 3%;
        }

        & h3 {
            color: var(--color-white);
            font-weight: 400;
            font-size: clamp(1rem, 5vw, 2rem);
            line-height: 100%;
        }
        
        & p {
            text-align: center;
            font-weight: 400;
            font-size: clamp(0.7rem, 2.8vw, 1rem);
            color: var(--color-white-light);
            line-height: 120%;
            opacity: 0.8;
        }
    }
}

@keyframes about_us_parallax {
    50% {
        background-position-y: bottom;
    }
}

.bottom_links {
    background-color: var(--color-black-light);
    font-family: var(--Roboto);
    padding: clamp(2em, 4vw, 5em) clamp(1.8em, 4vw, 2.8em);
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    border-radius: 0 0 2vh 2vh;

    .links_column {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-evenly;
        gap: 0.5em;

        & > * {
            color: var(--color-white);
            font-weight: 400;
            text-decoration: none;
        }

        & p {
            opacity: 0.4;
        }
    }
}

footer {
    background-color: var(--color-green-dark);
    padding: clamp(1.5em, 4vw, 2.5em);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--Roboto);

    .CODE {
        transition: 300ms ease;
        transition-property: opacity;

        &:hover {
            opacity: 0.6;
        }
    }
    
    & p {
        opacity: 0.5;
    }
    
    .footer_right a {
        opacity: 0.5;
        transition: 200ms ease-in-out;
        transition-property: opacity;

        &:hover {
           opacity: 0.3;
        }
    }

    .footer_areas {
        display: flex;
        align-items: center;
        gap: 2em;
        color: var(--color-white);
        
        & > * {
            color: var(--color-white);
            text-decoration: none;
            font-weight: 500;
            font-size: clamp(0.5rem, 1vw, 0.7rem);
        }
    }
}
