@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--color-green-dark);
}

:root {
    /* Color */
    --color-red-primary: rgba(227, 66, 72, 1);
    --color-white: rgba(245,242,239, 1);
    --color-white-light: rgba(245,242,239, 0.8);
    --color-black: rgba(3, 19, 15, 0.9);
    --color-black-light: rgba(67, 77, 72, 1);
    --color-dark-light: rgba(143, 140, 121, 1);
    --color-dark-lighter: rgba(143, 140, 121, 0.4);
    --color-green-dark: rgba(5, 29, 24, 1);

    /* Font Family */
    --Roboto: 'Roboto', sans-serif, Arial;
    --Playfair-Display: 'Playfair Display', sans-serif, Arial;
}

header {
    padding: clamp(0.8em, 2vh, 1.6em) clamp(1.8em, 4vw, 2.8em);
    background-color: var(--color-green-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    inset: 0 0 auto 0;
    border-bottom: solid 0.005em var(--color-dark-lighter);
    z-index: 9;

    .logo {
        color: var(--color-white);
        font-family: var(--Roboto);
        text-decoration: none;
        font-size: clamp(1.3rem, 1.6vw, 1.7rem);
        font-weight: 600;
        line-height: 100%;
        transition: 300ms ease-in-out;
        transition-property: opacity;

        &:hover {
            opacity: 0.7;
        }
        
        & span {
            font-weight: 300;
        }
    }
    
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3em;
        font-family: var(--Roboto);

        .search_button {
            width: 3.5em;
            height: 3.5em;
            border: 0.005em solid var(--color-dark-light);
            border-radius: 50%;
            outline: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 300ms ease-in-out;
            transition-property: background-color, border-color;

            &:hover {
                background-color: var(--color-red-primary);
                border-color: var(--color-red-primary);
            }

            &:hover .search_svg{
                transform: scale(1.2);
            }

            .search_svg {
                fill: var(--color-white);
                width: 1.1em;
                height: 1.1em;
                margin: 0;
                transition: transform 300ms ease-in-out;
            }
        }
        
        & a {
            text-decoration: none;
            color: var(--color-white);
            font-weight: 500;
            font-size: clamp(0.8rem, 1.3vw, 1rem); 
            position: relative;

            &::after {
                content: "";
                position: absolute;
                border-radius: 999em;
                bottom: -0.3em;
                right: 0;
                height: 0.05em;
                width: 0;
                background-color: var(--color-red-primary);
                transition: 300ms ease-in-out;
                transition-property: width;
            }
            
            &:hover::after {
                left: 0;
                width: 100%;
            }
        }
    }
}

.playfair_display_font {
    font-family: var(--Playfair-Display);
    font-style: italic;
}

main {
    background-color: var(--color-green-dark);
    height: 120vh;
    height: max-content;
}

.top_heading {
    padding: clamp(11em, 20vh, 15em) clamp(0.8em, 11vw, 9em);
    font-family: var(--Roboto);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    gap: 3em;
    margin-inline: auto;
    width: min(100vw, 150em);
    
    & h1 {
        color: var(--color-white);
        font-size: clamp(2.5rem, 5vw, 4.5rem);
        font-weight: 500;
        line-height: 100%;
    }
    
    & p {
        color: var(--color-white-light);
        line-height: 100%;
        font-weight: 400;
        font-size: clamp(1.1rem, 1.5vw, 1.5rem);
    }
}

.get_to_know_us {
    & button {
        background-color: var(--color-black-light);
        color: var(--color-white-light);
    }

    .arrow_box {
        background-color: var(--color-red-primary);
        
        .arrow_svg {
            fill: var(--color-white);
        }
    }
}

.hover_arrow_button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    border-radius: 999em;
    height: 3.5em;
    
    &:hover .arrow_svg {
        transform: rotate(-90deg);
        fill: var(--color-white);
    }
    
    &:hover .arrow_box {
        border-radius: 0 50% 50% 0;
        background-color: var(--color-red-primary);
    }
    
    &:hover button {
        border-radius: 999em 0 0 999em;
    }
    
    .arrow_box {
        width: 3.5em;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 300ms ease-in-out;
        transition-property: border-radius, background-color;
    }
    
    .arrow_svg {
        width: 1.3em;
        height: 1.3em;
        transform: rotate(-45deg);
        transition: 300ms ease-in-out;
        transition-property: transform, fill;
    }

    & button {
        padding: 1.2em 2.2em;
        border-radius: 999em;
        border: 0;
        outline: 0;
        font-size: 0.95rem;
        font-weight: 500;
        font-family: var(--Roboto);
        cursor: pointer;
        height: inherit;
        transition: border-radius 300ms ease-in-out;
    }
}

.home_image {
    width: min(90vw, 150em);
    height: clamp(6em, 70vh, 60em);
    margin-inline: auto;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 120%;
    animation: hero_image_parallax linear;
    animation-timeline: scroll();
    --parallax-speed: -2;
}

@keyframes hero_image_parallax {
    100% {
        background-position-y: calc(var(--parallax-speed) * 10em);
    }
}

.characteristics {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    width: min(80vw, 150em);
    margin-inline: auto;
    gap: 3em;
    padding-block: clamp(0.8em, 8vw, 8em);
    
    .character_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        gap: 0.8em;
        width: 33.3%;
        
        .character_icon {
            fill: var(--color-dark-light);
            width: clamp(1.2em, 2.5vw, 2.2em);
            margin-bottom: 1em;
        }
        
        & h3 {
            font-family: var(--Roboto);
            font-weight: 600;
            color: var(--color-white);
            font-size: clamp(1.3rem, 3vw, 1.8rem);
            line-height: 130%;
        }
        
        & p {
            text-align: justify;
            font-family: var(--Roboto);
            font-size: clamp(1rem, 1vw, 1.5rem);
            font-weight: 400;
            color: var(--color-white-light);
            opacity: 0.8;
            line-height: 150%;
        }
    }
}

.works_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    
    .works {
        display: flex;
        padding: clamp(5em, 20vh, 15em) clamp(3em, 10vw, 15em);
        align-items: center;
        justify-content: space-between;
        gap: 3em;;
        
        &:first-child {
            border-bottom: solid 0.005em var(--color-dark-lighter);
        }
        
        .work_title {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: space-between;
            gap: 1em;
            font-family: var(--Roboto);
            width: 60%;
            
            & h1 {
                color: var(--color-black);
                font-weight: 400;
                font-size: clamp(1.3rem, 2.5vw, 2.5rem);
                line-height: 120%;
            }
            
            & p {
                text-align: justify;
                color: var(--color-black-light);
                line-height: 150%;
                opacity: 0.8;
                font-weight: 300;
                font-size: clamp(0.85rem, 2vw, 1.1rem);
            }

            .work_button {
                margin-top: 2em;

                &:hover .arrow_box{
                    background-color: var(--color-red-primary);
                }

                & button {
                    background-color: var(--color-dark-lighter);
                    color: var(--color-black-light);
                    font-weight: 500;
                }

                .arrow_box {
                    background-color: var(--color-black);

                    .arrow_svg {
                        fill: var(--color-white);
                    }
                }
            }
        }
    }
    
    .project_svg {
        width: clamp(20em, 50vw, 60em);
    }
}
