@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--color-green-dark);
}

:root {
    /* Color */
    --color-red-primary: rgba(227, 66, 72, 1);
    --color-white: rgba(245,242,239, 1);
    --color-dark-light: rgba(143, 140, 121, 1);
    --color-dark-lighter: rgba(143, 140, 121, 0.4);
    --color-green-dark: rgba(5, 29, 24, 1);

    /* Font Family */
    --Roboto: 'Roboto', sans-serif;
    --Playfair-Display: 'Playfair Display', serif;
}

header {
    padding: clamp(0.8em, 2vh, 1.6em) clamp(1.8em, 4vw, 2.8em);
    background-color: var(--color-green-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.005em solid var(--color-dark-lighter);

    .logo {
        color: var(--color-white);
        font-family: var(--Roboto);
        text-decoration: none;
        font-size: clamp(1.5rem, 1.7vw, 1.4rem);
        font-weight: 600;
        line-height: 100%;
        
        & span {
            font-weight: 300;
        }
    }
    
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3em;
        font-family: var(--Roboto);

        & a {
            text-decoration: none;
            color: var(--color-white);
            font-weight: 500;
            font-size: clamp(0.85rem, 1.3vw, 1rem); 
            position: relative;

            &::after {
                content: "";
                position: absolute;
                border-radius: 999em;
                left: 0;
                bottom: -0.3em;
                width: 100%;
                height: 0.05em;
                background-color: var(--color-red-primary);
                transform-origin: right;
                transform: scale(0);
                transition: 500ms ease;
                transition-property: transform;
            }

            &:hover::after {
                transform: scale(1);
                transform-origin: left;
            }
        }
    }
}

.playfair_display_font {
    font-family: var(--Playfair-Display);
    font-style: italic;
}

.top_heading {
    /* border: red solid 1px; */
    font-family: var(--Roboto);
    color: var(--color-white);
    padding-block: clamp(3.3em, 9vh, 6em);
    padding-inline: clamp(0.8em, 11vw, 9em);
}
