body {
    background-color: var(--color-green-dark);
}

header {
    padding: clamp(0.8em, 2vh, 1.6em) clamp(1.4em, 4vw, 2.4em);
    background-color: var(--color-green-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    inset: 0 0 auto 0;
    border-bottom: solid 0.005em var(--color-dark-lighter);
    z-index: 9;
    transition: background-color 300ms ease;
    
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3em;
        font-family: var(--Inter);
        
        & a {
            text-decoration: none;
            color: var(--color-white);
            font-weight: 500;
            font-size: clamp(0.8rem, 1.3vw, 1rem); 
            position: relative;

        

            &::after {
                content: "";
                position: absolute;
                border-radius: 999em;
                bottom: -0.3em;
                right: 0;
                height: 0.05em;
                width: 0;
                background-color: var(--color-red-primary);
                transition: 300ms ease;
                transition-property: width;
            }
            
            &:hover::after {
                left: 0;
                width: 100%;
            }
        }
    }
}

.hamburger {
    display: none;
    position: relative;
}

.menu {
    display: none;
    position: absolute;
}

.logo {
    color: var(--color-white);
    font-family: var(--Inter);
    text-decoration: none;
    font-size: clamp(1.2rem, 1.6vw, 1.7rem);
    font-weight: 600;
    line-height: 100%;
    transition: 300ms ease;
    transition-property: opacity;

    &:hover {
        opacity: 0.7;
    }
    
    & span {
        font-weight: 300;
    }
}

.playfair_display_font {
    font-family: var(--Playfair-Display);
    font-style: italic;
}



.overview_section {
    max-width: 110em;
    margin-inline: auto;
    font-family: var(--Inter);
    padding: clamp(5em, 12vh, 13em) clamp(2em, 8vw, 15em);
    
    & h1 {
        color: var(--color-white);
        font-family: var(--Playfair-Display);
        font-style: italic;
        font-size: clamp(1.2rem, 3vw, 2.5rem);
        font-weight: 600;
        line-height: 100%;
        position: relative;
        margin-bottom: clamp(2em, 7vh, 6em);
    }
    
    .expertises_columns {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        gap: clamp(2em, 8vw, 12em);
        
        .column {
            flex: 1;
            gap: 1em;
            display: flex;
            flex-direction: column;
            align-content: baseline;
            justify-content: space-between;
            
            & h2 {
                padding-bottom: clamp(1.3em, 2vh, 1.8em);
                color: var(--color-white);
                font-weight: 400;
                font-size: clamp(1rem, 2.2vw, 2.2rem);
                border-bottom: solid 0.005em var(--color-dark-lighter);
            }

            & a {
                text-decoration: none;
                color: var(--color-white);
                font-weight: 400;
                font-size: clamp(0.5rem, 1.5vw, 1rem);
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                & p {
                    opacity: 0.5;
                    transition: 300ms ease;
                    transition-property: opacity;  
                }

                &:hover p {
                    opacity: 1;
                }

                &:hover .arrow_box{
                    background-color: var(--color-red-primary);
                    border: solid var(--color-red-primary) 0.005em;
                }

                &:hover .arrow_svg {
                    transform: rotate(-90deg);
                }
                
                .arrow_svg {
                    fill: var(--color-white);
                    width: 1em;
                }

                .arrow_box {
                    border: solid var(--color-dark-lighter) 0.005em;
                    height: 2em;
                    width: 2em;
                    transition: 300ms ease;
                    transition-property: border-radius, background-color, border;                    
                }
            }
        }
    }
}







@media (max-width: 600px) {
    .menu {
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: var(--color-white-lighter);
        z-index: 99999;
        backdrop-filter: blur(2px);
        position: fixed;
        font-family: var(--Inter);

        .menu_box {
            display: flex;
            align-items: baseline;
            flex-direction: column;
            justify-content: space-around;
            gap: clamp(0.2em, 2vw, 1em);
            background-color: var(--color-white);
            border-radius: 2vh;
            padding: clamp(1em, 6vw, 2em);

            .page_active {
                color: var(--color-red-primary);
            }
            
            & a {
                text-decoration: none;
                color: var(--color-black);
                font-weight: 400;
                font-size: clamp(1rem, 4vw, 2rem);
            }
        }
    }

    header {
        .navigation a{
            display: none;
        }

        .hamburger {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.2em;
            background-color: var(--color-black-light);
            width: 2.2em;
            height: 2.2em;
            border-radius: 50%;
            cursor: pointer;

            .lines {
                height: 0.05em;
                width: 35%;
                background-color: var(--color-white);
                border-radius: 99em;
            }
        }
    }
}